@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* 
    General Styles
*/


.wrapperImg {
    overflow: hidden;
   
} 

#slide {
    position: absolute;
    left: -1500px;
    // width: 400px;
    height: 600px;
    text-align: right;

    -webkit-animation: slide 0.5s backwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}



//Footer

.footer-distributed{
	background: rgb(20, 20, 20);
	box-shadow: 0 1px 1px 0 rgba(29, 29, 29, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	padding: 50px 60px 40px;
	overflow: hidden;
    background-image: url(https://cdn.pixabay.com/photo/2017/10/04/19/33/fish-2817329_960_720.png);

    
}

// section {
//   width: 100%;
//   display: inline-block;
//   height: 60vh;
//   text-align: center;
//   font-size: 22px;
//   font-weight: 700;
//   text-decoration: underline;
// }


/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
    font-weight: bold;
}

.footer-distributed h3 span{
	color:  #f00914;
   font-weight: bold;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

#btnLogin:hover {
    color: black;
  background-color: rgba(197, 186, 27, 0.904);
}
.cardEffect {
  width: 45ch;
  height: 45ch;
  background: grey;
  border-radius: 5px;
  background-image: url(https://image.freepik.com/free-photo/scottish-fold-cat-blue-surface_23-2148181678.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
  margin-bottom: 10%;
}

.cardEffect:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
//feeddddddddddddddddddddddddd
.feedbox{
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: 10px;
    font-family: 'Indie Flower', cursive;
    box-shadow: 10px 30px 100px 10px #033a01;;
}

.feedbox:hover {
    transition: .5s;
  box-shadow: 10px 30px 100px 10px #09e002;
}



// navebarrrrrrrrrrrrrrrr
.navhovering {
  padding: .5em .8em;
  color: rgba(255,255,255,.5);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.navhovering::before,
.navhovering::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.navhovering::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%);
}

.navhovering:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%)
}

.navhovering:hover:before,
.navhovering:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.navhovering:hover {
  color: #3DA35D;
}

.navdropping:hover::after{
    transform: 1.1;
    transition: 1s;
    color: rgb(4, 124, 4);
}


.ourfont{
    font-family: 'Indie Flower', cursive;
    color: rgb(4, 124, 4);
}
.ourfont2{
    font-family: 'Indie Flower', cursive;
    color: #33383b;
    font-size: 20px;
}

.backgroundpic{
background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxITEhUQExMVEhUVFRgYGRgYGBcXGBgXFhcXGBgYFhcYHSggGBomGxgVIjEhJSkrLi4uGB8zODMtNygtLi0BCgoKDQ0NDw0NDjcZFRkrLS0rLSs3KysrNysrKysrKysrKysrKysrKysrKysrKystKysrKysrKysrKysrKysrK//AABEIALEBHAMBIgACEQEDEQH/xAAaAAEAAwEBAQAAAAAAAAAAAAAAAgMEBQEG/8QANBAAAQMDAwIEBAUEAwEAAAAAAQACEQMhMQQSQVFhBSJxgRMykaGxwdHw8RQjQuFSYoJD/8QAFgEBAQEAAAAAAAAAAAAAAAAAAAQB/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A+7RFm1ep2wLCeTZuRInrBUyNoUWVAcGVna81aZwHTHUBwOLZ4UtLRcLuMmI7Hue/Hog0qis9xaS2xVryYMXKpFU2DhclB5pNTuEHK81TvMBtk5m680gbucQ2O/1laajJBb1BH1QRp1AbgzePorFTR04aIzeZ6nCuQEREBERAREQEREBERAREQEREBERAXhcBmy9VdYEggCfVBJzgMmP9r0FVPpSByQQcqdMHn/XsgmiiHjEj69MqSAiKqrWABOY4QWoqGapvlBIDnCwm6vQFRqtIyoIcPS8RKsqOgT+UqvTunE7Y57cQgjQrjAadtodwcz9I+6ve6AT06XWNuhAeXl5Lc7TgEGQbcC9oVWo8VYWnaN14IIgQQf0QaqWsBDibbYkSCRPp3t7Kxha4zF2mPQx/v8Vm0Fak9sNABN3N5nn1ClVaacCkydxJJ/X7oNiLga/WVKdXcbeUWnymwkfWV19BqfiMD9pbP7kdkGhERAREQEREBERAREQEREBERAREQEREBeAqrUuNoIBn69vuEayJPJuek8oPNa5wY4siY9I6lVaR7zYndLAS4EWMcCJvmey1heoOXptE5rsH5id52kkR0iwPPK6NWqGgucYAWbU1nh8AhrYPQk4uAe9vdW6ijvbxPEzHvBQW06gNxe8Li09ZTpOc3cXy7Iw3PPJXYpU4nn9Oi5uo8EYZLJBPBNv1QHNpiq2pJdMbQAIEwATf7LrLNpNKGtaCAXAZ/RaUBUb3TMCJ9xmfyV6IKtS+GOMbrY6rkgMc0U3gUy50t2i/SXT6wu2s7tI01PimSQLdPX1Qc/wSjTJc9u4lpiTGDyAFq8R0bqhHmhomRyf1WmhSa0eQAAmbKxBz6pc+nLQJEAGAbdifZbKVTDT80XtaRE/iphw6hZ3tY14cSZ4EWuQOB1/FBqRZ6+ra036gTf8AynFr44WhAREQEREBERAREQEREBERAREQERRLwDHKDypSDs8LK7RlxO5xiStNGpuE4ViCt52tJALtoxyYWIamCPMS6NwaQZ80QJ65MLorKdCwncQSZm5wZm0ING2YJAn8JyjsdFk12pIc1jSA75r4LRMiTjr7LzRamTsJ3ky4EXbEwBKC0vJpkjPW2OtlbTfPfF1J7gASbACT2Cy6XXtfFoDpAki5HAGSg2IuZU1dQPcDDQCIHlJd2zabn2XSBQCqdRqQ2LEyrKzwBdVPDXNjt+ygva4G4usz4+J83t0K90VOB80+0QmpoWJaPMT145hBe3ooaiYtEcz/AMeVBoc1ovJDfqQlKsTAcIkDNrni6Dyg9p+U3jnML3U6Nr8z3iLwZvaf5VjaLQZAAKsQU1WtF9oJA+gFxdWtM3RzQbG69QEREBERAREQEREBERAREQEREBZq3ziW26j7rSvCgxnWMJAgmT0WwqFKi1uArEFYqi0GZ/3+hXr6gETyYVbiG2a2TaQOBws/iFVzB8QXsBsInzE2NuiCVVra9M7TF4ki9jf6qeh0QpAgOJnrCp8MBMvc0sIERENgmZC2OrASOkfdBYqWacCMmJibxJlXIgz6mqxpBcJLiBgE9p7SrqbpE3HrlQrUd0HBBzANul1KnTAEIJEKr4FySZkRHqrlRV1bWuDTk9O+EFlKmGiAprlUfGG7nB8ATAIB+66jTNxcFAUH05ibgX91YoGoAYm8T7IIV3GzRaeekXXrLG5mfoIXtVgc2JsVGhQ2z5iex4QXIiICIiAiIgIiICIiAiIgIiICIiAiIgLmOL/iB28yc02zB2ngm2CJ9101Tqqm1u6JI5tYHJk8fogm9k3mFIBYfDqzyS15DjEgjGYMkWnFlvQFjc8sMQX9+Y6K6q50jbi8/kvaFQ/KfmAv7oJ08DPvwuZqvFh8Mup53bZIxYmR9F1HGBJwF85S14ZIpMG0mfNcnp6IOxR1wLm0zO4i/QGJIWxcjT6lvxgGU/mguJm24SfTK66AubWqv+NZgDWxLy3I5g++AukoVaYcIOEHH1mkpb2uhx3uwCAMx07rssYAAAIAsFQytTkMHBgGxExMT1WlAXIr1vh2f/cINzJBDSZEd8LrqJYOgQV6QktBJBm4jEHCuWPxDUFoDGyHPkNPAIixVen1RDgHuB3wGhsESANxkd0HQREQEREBERAREQEREBERAREQEREBERBm1tMkRx2Emcg36QvdNRhm11x3vIN7ytCIKiWsBIHMmOpXjNQ0hpJDS7AJEzi3Vc3+pZSqPDn7txwL7bzc4BXtenTFRtUukWLWgTEflN/qg6y8AiSpKFUEixgoAqA2B4n2WXU+GU3DG09W2+y9pV2yGgEHAt+7LYghRphrQ0cCFNVuqgEDqrEEXgwYMFU1Kmxpe7iMY6dLL2vVcHAAWIzzK59P4lKm4PG+XADcZtk9egQbtPRbJftgyeSQbC/T+UoseHGTIk/S0CFfTAiwgZj1uvKjwAT0QTVVauG5BiCZ6QFNjpErma91Rj/7TXO33MjcBHA6Sg0v/vUvL5N3UXF4P5/VQ8P8O+GSS4O6eWIPJVmgZbeQQXRIiIiRAHRad46hBJERAREQEREBERAREQEREBERAREQEReAoPUREHI1PgjTLmkyeDj6rXotEGtbuA3D3i5P5rU54ESQJMCTk9As1HXtc97MbBcnFjB9EEK+pu6+zZYzN9wsRHdaNNVkG1hYHr3CjWotqAGZF8EQZ/hAGUWchrfU5P8AtBeF48wCYm2Oq5rNY9oD6hG0AztgkyYaQOhsumCgyUXsDQZtxJxHQ88KTazDh6srUA4iePz/AIU20mjACCitSqb2ua4beQenZcTTV61RxLSTzHGbTNl9KospgYAHoIQGTAnMX9eVmZtL3GSMyDgxYwtaqrUQQbAEiJQQL22Ex2laFko6FoublaiUEasx5crPRezgibwO/MdlKlqHGNzYmZ7R6q0UGyDtEhBML1EQEREBERAREQEREBERAREQEREBEVeoZLXCYkG/SyCNfUBsZM9PurA8TtkSMibj2XK0Wrp2pududOf8c4BOVLw+k1lVwLtz3TxbqZPVB743Tadj3P27TjJOPlA5ss5dReHlpNMyHOm8i+AD/wAj9Y7Loa7w9tWCSQRayyaXwkhzg+HMiBkE3B9sI1t8Oew0xsmBOczk/ip/1DHEMzuaTEWIxeV66jDNtOGdOi5VPU/EfsDNonbvbM2N/QFGL6PhJD/iF/8AlMBvHT0iAt2qnadpg8Y+l1Y54ETyY9141wN+/wCCDOxj/nwduD19vRaKRJAnKlCNEWQeoiICw/1ZcDtEEG4zb+VtKgxkXtPWEEWVwXbYMxKtUdl5XlWu1pAc4CcSgVaciDjlTCyUNcCXhw27DntMX7/qpB24zMZA7jghBqRQpiBHRTQEREBERAREQEREBERAREQEREBV16Qc0tOCIsrEQcOt4GRGw7r82j3XXp0GglwFzyrVS/UDzAXIHsguRZ2aiwm5PQfdaEBEUahIBjMW9eEFOpt5sgf49+CvdPV3TYiOojK8ZVcI3iAQB/6K0ICIiAvJUTUAME91S2k6NubyDmBxM5QaCYubKmnq2kwJkkgWzGSO3dNRWYAWuMSDJOAMXOFRpfD9keaWtuMg7jEkwYI7fshuXJ8cqN8rXtMG+4HHURF1rbrQSRw2xmxme/C1IODrdU2XUg0RZpfPmJbFzbqF0dNpqbmNIkjbAOMT+cqFPwlnxHVHeaSSARYTe/VbXvaxsmGgQP0AhBKmyAAOFJeNcDggr1AREQEREBERAREQEREBERAREQEREBYXV2tebG+Scey3KqrQa4XHugOIsYn98KwlU6WmGjaDug37Hp2V6DNT1Uu2mBIteTPSFpWQikx24mHRFzNibfe0q6rXAIbaTNpiw5QTLUc8DJwq9LqA9u4EdwCDB6SFS+oGnz5PTpNp/fCDYihSdImZBx6KaCurTkRhTC9RBhboSHvdIIebjpzI/wC0raAvUQU/07Zm4uSb2M9QvaxMAtvftBHKsIVbKcOJtER+74QKXJ47zx2WbV0C8sexw8s85xAt3EK7XU3OYQww60Xjnr6SoaSgQdxABgNJt5o5EYHZAoD4TJcYkzFoBP8AiIAlaKdSey8r0Q4bTj99VGhQ29+BaIaMC3RBciIgIiICIiAiIgIiICIiAiIgIiIC5njGqqMs0Q0i7u/QdF01g8ToVHFhYYg3v6X78oOZ4U57W1HUxu+Xqes2GTC7Whrl7A5zdpxFxjkTwsGqLqjnULNgy2LY69iDK6Gia8MAeZcO824ugz63SPcSWECQLkmRfAtYc+y0miNoBJO3km5teSrlF7ZCCvS0msbtbgfj3VsBVU2HcTgWgeyuQEREBERAREQEREBERAREQEREBERAREQEREBERAREQEREBERAREQZv/t/4/NaURAREQEREBERB//Z);
}